html{
    /*Colors*/
    --color1:#004c4c;
    --color2:#006666;
    --color3:#008080;
    --color4:#66b2b2;
    --color5:#b2d8d8;
    --color6:#f79f1c;
    /*Colors*/
}

.gradient-background {
  background: linear-gradient(300deg, var(--color6), var(--color2), var(--color1));
  background-size: 180% 180%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body{
    background-color:var(--color5) ;

}

/*Navigation*/
.nav-pills{
    background-color:var(--color1);
    border: 2px solid var(--color5);
    border-radius: 30px;
    box-shadow: 0 0 5px 2px var(--color6) ;
}
.nav-item{
    height: 30px;
    width: 100px;
    margin: 10px;
    text-align: center;
}
.nav-button{
    color:var(--color5) ;
    text-decoration: none;
    
}
/*Navigation*/

/*Headline*/
.headlineDecor{
    color:var(--color5);
    margin: 3rem 1rem;
}
/*Headline*/

.stack{
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 2px solid black;
}
.stackflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
